.cid-uWpIcP9G3y {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #ffffff;
    overflow: hidden;
}

.cid-uWpIcP9G3y .mbr-fallback-image.disabled {
    display: none;
}

.cid-uWpIcP9G3y .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.cid-uWpIcP9G3y .title-wrapper .mbr-section-title {
    margin-bottom: 50px;
}

@media (max-width: 992px) {
    .cid-uWpIcP9G3y .title-wrapper .mbr-section-title {
        margin-bottom: 30px;
    }
}

.cid-uWpIcP9G3y .items-wrapper {
    margin: 0 -15px;
}

.cid-uWpIcP9G3y .items-wrapper .card {
    padding: 0 15px;
}

.cid-uWpIcP9G3y .card-wrapper {
    position: relative;
    height: 100%;
    will-change: transform;
    animation: none !important;
}

@media (max-width: 992px) {
    .cid-uWpIcP9G3y .card-wrapper {
        margin-bottom: 15px;
    }
}

.cid-uWpIcP9G3y .card-wrapper .image-wrap img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    will-change: transform;
    animation: none !important;
}

@media (max-width: 992px) {
    .cid-uWpIcP9G3y .card-wrapper .image-wrap img {
        position: static;
        height: 300px;
    }
}

.cid-uWpIcP9G3y .card-wrapper .decor-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 220px;
    height: 60px;
    background-color: #ffffff;
    border-bottom-right-radius: 30px;
    z-index: 1;
}

@media (max-width: 992px) {
    .cid-uWpIcP9G3y .card-wrapper .decor-wrap {
        width: 120px;
    }
}

.cid-uWpIcP9G3y .card-wrapper .decor-wrap::before {
    content: '';
    position: absolute;
    top: 0;
    right: -20px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-top-left-radius: 30px;
    box-shadow: -10px -10px 0 10px #ffffff;
}

.cid-uWpIcP9G3y .card-wrapper .decor-wrap::after {
    content: '';
    position: absolute;
    top: 60px;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-top-left-radius: 30px;
    box-shadow: -10px -10px 0 10px #ffffff;
}

.cid-uWpIcP9G3y .items-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

@media (max-width: 1200px) {
    .cid-uWpIcP9G3y .items-wrap {
        display: block;
    }
}

@media (max-width: 1200px) {
    .cid-uWpIcP9G3y .items-wrap .item {
        margin-bottom: 30px;
    }
}

@media (max-width: 992px) {
    .cid-uWpIcP9G3y .items-wrap .item {
        margin-bottom: 15px;
    }
}

.cid-uWpIcP9G3y .items-wrap .item .item-wrapper {
    height: 100%;
    padding: 40px;
    background-color: #f5f5f5;
}

@media (max-width: 992px) {
    .cid-uWpIcP9G3y .items-wrap .item .item-wrapper {
        padding: 30px;
    }
}

.cid-uWpIcP9G3y .items-wrap .item .item-wrapper .card-box .card-title {
    margin-bottom: 140px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e0e0e0;
}

@media (max-width: 992px) {
    .cid-uWpIcP9G3y .items-wrap .item .item-wrapper .card-box .card-title {
        margin-bottom: 30px;
    }
}

.cid-uWpIcP9G3y .items-wrap .item .item-wrapper .card-box .card-number {
    margin-bottom: 0;
}

.cid-uWpIcP9G3y .items-wrap .item .item-wrapper .card-box .card-desc {
    margin-bottom: 0;
}

.cid-uWpIcP9G3y .items-wrap .features-image .item-wrapper {
    padding: 0;
    background-color: transparent;
}

.cid-uWpIcP9G3y .items-wrap .features-image .item-wrapper .item-img {
    height: 100%;
}

.cid-uWpIcP9G3y .items-wrap .features-image .item-wrapper .item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 992px) {
    .cid-uWpIcP9G3y .items-wrap .features-image .item-wrapper .item-img img {
        height: 300px;
    }
}

.cid-uWpIcP9G3y .btn-wrapper {
    margin-top: 35%;
}

.cid-uWpIcP9G3y .mbr-section-title {
    color: #000000;
}

.cid-uWpIcP9G3y .card-title {
    color: #000000;
}

.cid-uWpIcP9G3y .card-number {
    color: #000000;
}

.cid-uWpIcP9G3y .card-desc {
    color: #8a8a8a;
}