.cid-uWpIcP9P6i {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #ffffff;
}

.cid-uWpIcP9P6i .mbr-fallback-image.disabled {
    display: none;
}

.cid-uWpIcP9P6i .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.cid-uWpIcP9P6i .items-wrapper {
    justify-content: center;
    margin: 0 -15px;
}

.cid-uWpIcP9P6i .item {
    padding: 0 15px;
    margin-bottom: 30px;
}

@media (max-width: 992px) {
    .cid-uWpIcP9P6i .item {
        margin-bottom: 15px;
    }
}

.cid-uWpIcP9P6i .item .item-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 50px;
    border: 1px solid #e0e0e0;
}

@media (max-width: 992px) {
    .cid-uWpIcP9P6i .item .item-wrapper {
        padding: 30px;
    }
}

.cid-uWpIcP9P6i .item .item-wrapper .card-box .iconfont-wrapper {
    margin-bottom: 30px;
}

@media (max-width: 992px) {
    .cid-uWpIcP9P6i .item .item-wrapper .card-box .iconfont-wrapper {
        margin-bottom: 20px;
    }
}

.cid-uWpIcP9P6i .item .item-wrapper .card-box .iconfont-wrapper .mbr-iconfont {
    font-size: 25px;
    color: #000000;
    display: inline-flex;
}

@media (max-width: 992px) {
    .cid-uWpIcP9P6i .item .item-wrapper .card-box .iconfont-wrapper .mbr-iconfont {
        font-size: 26px;
    }
}

.cid-uWpIcP9P6i .item .item-wrapper .card-box .card-title {
    margin-bottom: 0;
}

.cid-uWpIcP9P6i .item .item-wrapper .card-box .card-text {
    margin-bottom: 0;
}

.cid-uWpIcP9P6i .item .item-wrapper .mbr-section-btn {
    margin-top: 40px;
    width: 100%;
}

@media (max-width: 992px) {
    .cid-uWpIcP9P6i .item .item-wrapper .mbr-section-btn {
        margin-top: 20px;
    }
}

.cid-uWpIcP9P6i .item .item-wrapper .mbr-section-btn .btn {
    width: 100%;
    margin-bottom: 0;
}

.cid-uWpIcP9P6i .card-title {
    color: #000000;
}

.cid-uWpIcP9P6i .card-text {
    color: #8a8a8a;
}
