.cid-uWpIcP6dXj {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #ffffff;
}

.cid-uWpIcP6dXj .mbr-fallback-image.disabled {
    display: none;
}

.cid-uWpIcP6dXj .mbr-fallback-image {
    display: block;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.cid-uWpIcP6dXj .row {
    justify-content: space-between;
}

.cid-uWpIcP6dXj .title-wrapper {
    margin-bottom: 50px;
}

@media (max-width: 992px) {
    .cid-uWpIcP6dXj .title-wrapper {
        margin-bottom: 30px;
    }
}

.cid-uWpIcP6dXj .title-wrapper .label-wrapper .mbr-label {
    display: inline-block;
    padding: 4px 20px;
    margin-bottom: 20px;
    border: 1px solid var(--primary-color);
}

.cid-uWpIcP6dXj .title-wrapper .mbr-section-title {
    margin-bottom: 0;
}

.cid-uWpIcP6dXj .mbr-label {
    color: #000000;
}

.cid-uWpIcP6dXj .mbr-section-title {
    color: #000000;
}