.cid-uWpIcP7nmX {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #000000;
}

.cid-uWpIcP7nmX .item:focus,
.cid-uWpIcP7nmX span:focus {
    outline: none;
}

.cid-uWpIcP7nmX .container-fluid {
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
}

.cid-uWpIcP7nmX .content-head {
    max-width: 800px;
}

.cid-uWpIcP7nmX .item {
    padding: 10px 0;
    font-weight: 700;
    color: var(--primary-color);
    min-height: 90px;
}

@media (max-width: 768px) {
    .cid-uWpIcP7nmX .item {
        min-height: 45px;
    }
}
